body {
    background-color: black;
    background-image: url("/static/img/bg.jpg");
    background-repeat: no-repeat;
}

.content-block {
    background: rgba(255,255,255, 0.7);
    padding: 15px;
    margin-bottom: 30px;
}

a:hover {
    text-decoration: none;
}
