{% extends "base.html" %}

{% block main %}
<div class="content-block">
    <p class="lead">
        At SiteMe.in we believe everyone has a right to have their own website. Not everyone may have the funds to pay exorbitant
        amounts to web agencies to develop simple sites for them. Don't get us wrong, there are really awesome agencies out
        there that do great work, but for a lot of people that may be overkill. If you want a blog, one pager, simple brochure
        site you can use our site generator and have a site ready at a fraction of the cost.
    </p>
    <p class="lead">
        Websites do cost money, right from purchasing the domain name, renting a hosting server to paying developers/designers for their time. We have automated and streamlined
        many steps of this process, drastically reducing time and costs for everyone. Most of our work costs, anywhere from $1 to $100. For more customized
        solutions, we won't charge more than $500. That's our commitment and promise.
    </p>
    <p class="lead">
        Our work is possible because we have a very talented and widely experienced team who devote some time off their schedule to
        provide this service. But most importantly, we have a big heart and love helping individuals and small business create a web presence and see
        them flourish.
    </p>
    <p class="lead">
        Feel free to <a href="mailto:ramseydsilva@gmail.com">contact us</a> or fill out the <a href="{% url "home" %}">form</a> to tell us what you need and let us work our magic!
    </p>
</div>
{% endblock %}
