{% extends "base.html" %}
{% load thumbnail %}

{% block extra_head %}
<style>
    .content-block { float: left; width: 100%; }
    .site-block { background-color: rgba(152, 161, 222, 0.23); padding: 10px; margin: 8px; text-align: center; float: left; height: 160px; }
    .site-block img { max-height: 125px; overflow: hidden; }
    .site-block:hover { background-color: rgb(178, 169, 230); }
    ul.sites-list { list-style: none; padding: 0; margin: 0; }
</style>
{% endblock %}

{% block main %}
<div class="content-block">
    <ul class="sites-list">
    {% for site in sites %}
        <li><a class="site-block" href="{{ site.link }}" target="blank">
        {% thumbnail site.thumb "200" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"><br/>
        {% endthumbnail %}
        {{ site }}
        </li></a>
    {% endfor %}
    </ul>
</div>
{% endblock %}
